<div class="m--step -form js--step js--step-form">

    <div class="step__image-holder -hide-for-small">

        <span class="step__image">
            {{ asset("/public_html/assets/svg/image-docter.svg") |raw }}
        </span>

        <span class="step__image -hart">
            {{ asset("/public_html/assets/svg/image-hart.svg") |raw }}
        </span>

    </div>


    <div class="step__form">

        <h3 class="h3 step__heading">Bedankt voor uw deelname!</h3>
        <p  class="step__text -form">Wilt u graag met ons doorpraten over de vragen die u zojuist heeft beantwoord? Laat dan hier uw gegevens achter, dan nodigen we u uit voor een speciale bijeenkomst hierover.*</p>

        <p class="data-saved">Je feedback is succesvol verzonden. Indien je wordt uitgenodigd voor een gesprek, zal dit gebeuren via het e-mailadres dat je in de voorgaande vraag hebt ingevuld.</p>

        <fieldset>
            <form type="post" id="user-details" name="user-details">

                {% import 'elements/input.html.twig' as input %}

                {{ input.input({
                    name: 'name',
                    id: 'name',
                    type: 'text',
                    required: true,
                    classes: '',
                    placeholder: '',
                    label: 'Voornaam + achternaam'
                }) }}

                {{ input.input({
                    name: 'email',
                    id: 'email',
                    type: 'email',
                    required: true,
                    classes: '',
                    placeholder: '',
                    label: 'E-mailadres'
                }) }}


            </form>

        </fieldset>


        {% import 'elements/button.html.twig' as button %}

        {{ button.button({

            classes: 'js--next-step',
            label: 'Versturen ›'

            })

        }}

        <p class="step__disclaimer -italic">*Let op: het deelnemersaantal hiervoor is beperkt.</p>



    </div>

</div>