{#

    An example button macro.

    Using macro's for buttons is very useful as it keeps the implementation
    of a button consistent and easily maintainable as you only have a single place where it's defined.

    Usage:
    <!-- Include the file containing the macro -->
    {% include 'elements/button-arrow.html' %}

     <!-- Call the macro with button data to create new instances of the button -->
    {{ buttonArrow( { label: 'Click here' } ) }}
    {{ buttonArrow( { label: 'Tam Tam', url: 'http://www.tamtam.nl', class: 'js-tamtam-button' } ) }}

#}
{% macro buttonArrow( data ) %}

    <a class="button-arrow{%- if data.class %} {{ data.class }}{% endif -%}"
       href="{{ data.url or '#' }}"
            {%- if data.attr or data.attributes %} {{ data.attr or data.attributes }}{% endif -%}>

        <span class="button-arrow__label">{{ data.label or 'label' }}</span>
        <span class="button-arrow__arrow">{% svg 'icons/chevron-right' %}</span>

    </a>

{% endmacro %}