{%  macro label(data) %}

    {%  if data.text %}
        <label
                for="{{ data.id }}"
                class="input-label{%  if data.classes %} {{ data.classes }}{%  endif %}">
            {{ data.text }}
        </label>
    {%  endif %}

{%  endmacro %}

{%  macro radios(data) %}

    {% import _self as label %}

    {{ label.label({
        text: data.label,
        id: data.id
    }) }}

    <div class="radio-wrapper">
        {% for option in data.options %}

            <div class="radio">
                <input
                        type="radio"
                        name="{{ data.name }}"
                        id="{{ data.id }}__{{ loop.index }}"
                        value="{{ option.value }}"
                        class="radio__input{%  if data.classes %} {{ data.classes }}{% endif %}"
                        {%  if option.selected %} checked="checked"{%  endif %}
                        >

                {{ label.label({
                    text: option.label,
                    id: data.id ~ '__' ~ loop.index,
                    classes: 'radio__label'
                }) }}

                {% if option.withInput == 'true' %}
                    <input name="input-radio" class="radio__withinput input" type="text" />
                {% endif %}
            </div>

        {% endfor %}
    </div>

{%  endmacro %}